.pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    & button {
        margin-bottom: 30px;
        cursor: pointer;
        background: #586e94;
        border: 1px solid #586e94;
        padding: 10px 15px;
        margin: 0 10px;
        border-radius: 14px;
        cursor: pointer;
        color: lightgrey;
        font-weight: 600;
        width: 100px;

        &:hover {
            background: #2a3f5f;
            border: 1px solid #2a3f5f;
        }
    }
}
