.flick-card {
    width: 150px;
    min-width: 150px;

    & > figure {
        max-height: 225px;
        overflow: hidden;
        margin: 0;
        border-radius: 8px;

        & > img {
            width: 100%;
            transition: all 0.4s ease;

            &:hover {
                transform: scale(1.08);
                cursor: pointer;
            }
        }

        & figcaption {
            display: none;
        }
    }
}
