.featured {
    & h1 {
        margin: 10px 0 20px 10px;
    }

    & .swiper {
        & a {
            text-decoration: none;
        }

        & img {
            position: initial;
            height: 150px;
            border-radius: 10px;
        }

        & p {
            margin: 5px 0;
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
    }
}
